

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------- end reset ------------------------- */



body{width:100%;
	margin:0 auto;
	}	
/* ------------- header&top-nav -------------- */
#site-wrapper{
	background-color:#ecf2d3;
	width:100%;
}
header#site-header {
	position:relative;
	height:130px;
	width:80%;
}	
header#site-header h1 a{
 	 position:absolute; 
	 display:block;
	 width:306px;
	 height:123px;  
	 background:url(images/logo.png) no-repeat top left; 
	 text-indent:-9999px;
}
nav#top-nav {
	position:absolute;
	right:30px;
	top:5px;
}
nav#top-nav a{
	font-family:sans-serif;
	font-size:0.7em;
	text-decoration:none;
	color:#744918;
}
nav#top-nav a:hover{
	text-decoration:underline;
}

/* -------------- main-nav -------------- */
#menu-wrapper{
    background-color:#744918;
	width:100%;
}
nav#main-menu {position:relative;
	height:30px;
	width:80%;
}
nav#main-menu ul li{
	float:left;
	padding:7px 30px 7px 0;
}
nav#main-menu ul li a{
	display:block;
	font-family:sans-serif;
	color:#fff;
	font-size:1em;
	text-decoration:none;
	text-transform:uppercase;
}
nav#main-menu ul li a:hover{
	text-decoration:underline;
}
nav#main-menu ul li a:last-child{
	color:#A7AA43;
}

/* ------------- body content ------------- */
#content-wrapper{
	background-color:#fff;
	width:100%;
}
#content{
	with:80%;
}
article#page {
	float:left;
	width:60%;
	padding:30px 10px;
	}
article#page h1{
	color:#744918;
	font-family: 'Lobster', cursive;
	font-size:2.2em;
	padding-bottom:10px;
}
article#page h2{
	color:#744918;
	font-family:arial, sans-serif;
	font-size:1.1em;
	text-transform:uppercase;
	padding-bottom:10px;
}

article#page p{	
	color:#8B8B8B;
	font-family:arial, sans-serif;
	font-size:0.8em; 
	line-height:1.4em;
	padding-bottom:10px;
}
aside#sidebar {
	float:right;
	width:30%;
	padding:75px 10px 0 10px;
}
aside#sidebar h1{
	color:#744918;
	font-family:arial, sans-serif;
	font-size:1.1em;
	text-transform:uppercase;
	padding-bottom:10px;
}
aside#sidebar p{
	color:#333;
	font-family:arial, sans-serif;
	font-size:0.9em;
}
aside#sidebar ul li a{
	color:#744918;
	font-family:arial, sans-serif;
	font-size:0.8em;
	list-style-type: none;
	text-decoration:none;
	line-height:1.2em;
}
aside#sidebar img{
	width:95%;
	padding-top:10px;
}
/* ------------- footer ------------- */
footer-wrapper{
	background-color:#744918;
	width:100%;
}
footer#site-footer {
	clear:both;
	position:relative;
	height:150px;
	padding-top:20px;
	width:80%;
}
section#footer-contact{
	float:left;
	width:30%;
}
section#footer-contact h1{
	color:#ecf2d3;
	font-family:arial, sans-serif;
	font-size:1.1em;
	text-transform:uppercase;
	padding-bottom:10px;
}
section#footer-contact p{
	color:#fff;
	font-family:arial, sans-serif;
	font-size:0.8em;
	line-height:1.2em;
}
section#footer-follow{
	float:right;
	width:30%;
}	
section#footer-follow h1{
	color:#ecf2d3;
	font-family:arial, sans-serif;
	font-size:1.1em;
	text-transform:uppercase;
	padding-bottom:10px;
}
section#footer-follow ul li a{
	float:left;
	padding: 0 5px;
}

